.nav {
  display: flex;
  justify-content: center;
  background-color: #0d6efd;
  padding: 1rem 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 1rem;
}

.text-light {
  color: #fff;
  text-decoration: none;
}
