.note {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: calc(33.33% - 2rem);
  margin: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}

/* Style the dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
  float: right;
  margin-left: 10px;
}

/* Style the dropdown button */
.dropbtn {
  background-color: #f1f1f1;
  color: #333;
  padding: 8px;
  border: none;
  cursor: pointer;
  font-size: 20px; /* Increase font size for better visibility */
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

/* Style the dropdown content links */
.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

/* Change color on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown content when dropdown button is hovered */
.dropdown:hover .dropdown-content {
  display: block;
}

.note-heading {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.note-text {
  font-size: 1rem;
}
